.post-header {
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.post-owner-info {
    margin-top: 4px;
    align-items: center;
    gap: 4px;
}

.profile-photo-s {
    cursor: pointer;
    border-radius: 9000px;
    height: 48px;
    width: auto;
}

.post-title {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.post-owner-name {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.post-owner-username {
    cursor: pointer;
    font-size: 12px;
    color: var(--text-grey);
}

.comment-owner-name {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    display: inline;
}


.comment-owner-username {
    cursor: pointer;
    font-size: 10px;
    color: var(--text-grey);
    display: inline;
}

.post-caption {

}

.post-image {
    border-radius: 16px;
    width: 100%;
}

.parent-post {
    font-style: italic;
    color: var(--text-grey);
    cursor: pointer;
}

.tab-card {
    width: 100%;
    border: 1px solid var(--border-grey);
    border-radius: 14px;
    background: var(--background-grey);
    padding: 0;
    justify-content: space-around;
}

.p-tab {
    margin: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 1;
    width: 100%;
    text-align: center;
}

.p-tab-selected {
    background-color: var(--primary-light);
}